body {
	background-color: #446280;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a {
	text-decoration: none;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	margin-top: 20px;
}

#menu {
	height: 80px;
	background-color: #1b2939;
}
#logo {
	width: 240px;
	height: 80px;
	background-color: #0d151e;
	background-image: url('../icons/schedule50.png');
	background-size: 52px 50px;
	background-repeat: no-repeat;
	background-position: 20px 15px;
	float: left;
}
#logo span {
	color: #bdc3c7;
	font-weight: bold;
	padding-top: 12px;
	padding-left: 90px;
	display: block;
}
#navbar {
	padding-top: 24px;
	padding-left: 280px;
}
#navbar nav a {
	width: 32px;
	height: 32px;
	display: inline-block;
}
#navbar nav a#schedule {
	background-image: url('../icons/schedule32.png');
}
#navbar nav a#staff {
	background-image: url('../icons/staff32.png');
	margin-left: 20px;
}
/*
#navbar ul {
	display: inline;
	list-style:none;
	padding-left: 283px;
	margin-top: -50px;
	/* For IE, the outcast *//*
	zoom:1;
	*display: inline;
	height: 32px;
	float:left;*//*
}
#navbar ul li {
	display: inline;
	background: #12b812;
	height: 32px;
}

#navbar ul li a{
	background-image: url('..icons/schedule.png');
}*/