body {
	background-color: #446280;
	margin: 0 auto;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	width: 1000px;
	height: 100%;
}
a {
	text-decoration: none;
}

#wrapper {
	margin: 0 auto;
	margin-top: 20px;
}
/*_________ Menu _________*/
#menu {
	height: 80px;
	background-color: #1b2939;
}
/*_________ Logo div _________*/
#logo {
	width: 240px;
	height: 80px;
	background-color: #0d151e;
	background-image: url('../icon/schedule50.png');
	background-size: 52px 50px;
	background-repeat: no-repeat;
	background-position: 20px 15px;
	float: left;
}
#logo span {
	color: #bdc3c7;
	font-weight: bold;
	padding-top: 12px;
	padding-left: 90px;
	padding-bottom: 10px;
	display: block;
}
/*_________ navigation bar _________*/
#navbar {
	padding-left: 240px;
}
#navbar nav a {
	min-width: 30px;
	height: 32px;
	display: inline-block;
	background-repeat: no-repeat;
	padding: 24px;		/*dont change*/
	background-position: 24px 24px; /*pulled from sides*/
	margin-left: 20px; /*gap between icons*/
}
#navbar nav a:active {
	background-color: #152230;
}
#navbar nav a:first-child {
	margin-left: 100px;
}
#navbar nav a#schedule {
	background-image: url('../icon/schedule32.png');
	width: 33px;
}
#navbar nav a#courses {
	background-image: url('../icon/courses32.png');
	width: 37px;
}
#navbar nav a#staff {
	background-image: url('../icon/staff32.png');
	width: 32px;
}
#navbar nav a#groups {
	background-image: url('../icon/groups32.png');
	width: 35px;
}
#navbar nav a#charts {
	background-image: url('../icon/charts32.png');
	width: 35px;
}
#navbar nav a#logout {
	background-image: url('../icon/exit32.png');
	width: 30px;
}

.currentPage {
	background-color: #15202e;
}
/*_________ content _________*/

/*_________ staff _________*/
#myTable {
	text-align: center;
	border-collapse: collapse;
	margin-top: 20px;
	background-color: #99A6BF;
	vertical-align: center;
}
#myTable th, #myTable td {
	border: 1px solid #446280;
	min-width: 20px;
}
#myTable th {
	padding: 10px;
	font-weight: normal;
}
#myTable td {
	padding: 5px;
}
#myTable thead {
	background-color: #15202e;
	color: #fff;
}
/*color every 2nd line*/
#myTable tbody tr:nth-child(even) {
	background-color: #79869F;
}