#Laravel ignore

/node_modules
/public/storage
/public/hot
/storage/*.key
/.idea
Homestead.json
Homestead.yaml
.env


#Ignores folder created by PhpStorm.

.git/
/vendor
database/factories/
database/migrations/
database/seeds/
