# If the requested filename exists, simply serve it.
# We only want to let Apache serve files and not directories.
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule .? - [L]

RewriteEngine On    # Turn on the rewriting engine
# Rewrite all other queries.
# Handle request for "/login"
RewriteRule ^login login.php [NC,L]
# Handle request for "/logout"
RewriteRule ^logout logout.php [NC,L]
