body {
    width: auto !important;
    height: auto !important;
    font: 12px 'Open Sans', Tahoma, Geneva, sans-serif !important;
    color: #333333 !important;
    min-height: auto;
}

.content-header h1 {

}

section.content-header {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 16px;
    padding-top: 0px;
}

section.actions {
    float: right;
    margin: 16px;
    width: 100%;
}

/* Mygtukas "Naujas ..." perkeliamas iš kairės į dešinę. */
section.actions a {
    float: right;
}

/* Prisijungusio nario išsiskleidžiantis meniu nebe 180px aukščio. */
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: auto !important;
}

/* Naujo kūrimo lange, mygtukas Išsaugoti perkeliamas iš kairės į dešinę. */
.box-footer {
    text-align: right;
}

.content-header > h1 > i {
    color: #777777;
    padding-right: 16px;
}

.content-header > h1 > span {
    color: #777777;
}

.option_item_disabled {
    background-color: #00733e;
    color: #FFFFFF;
}

.clickable-row {
    cursor: pointer;
}

/*Mutiple date picker*/
.datepicker-days {
    width: 300px;
}

/*Expandable DataTables, onClick table row*/
.shown {
    background-color: #5bc0de !important;
    color: #FFFFFF;
}

tr.expandable-datatable {
    cursor: pointer;
}

div.checkbox {
    border: 1px solid #d2d6de;
    padding: 10px 10px;
    margin: 0 0;
}

.main-sidebar, .left-side {
    width: 150px !important;
}

.content-wrapper, .right-side, .main-footer {
    margin-left: 150px !important;
}

.main-header .logo {
    width: 150px !important;
}

.main-header > .navbar {
    margin-left: 150px !important;
}

@media (max-width: 767px) {
    /*Align navigation to left*/
    .main-header .navbar {
        margin: 0 !important;
    }

    /*Align content to left*/
    .content-wrapper, .right-side, .main-footer {
        margin-left: 0 !important;
    }

    /*Make logo full width*/
    .main-header .logo, .main-header .navbar {
        width: 100% !important;
        float: none !important;
    }

    .sidebar-open .content-wrapper, .sidebar-open .right-side, .sidebar-open .main-footer {
        /* -webkit-transform: translate(230px,0); */
        -ms-transform: translate(230px, 0);
        -o-transform: translate(230px, 0);
        transform: translate(150px, 0) !important;
    }
}

.sidebar-menu .treeview-menu > li > a {
    padding: 5px 5px 5px 2px !important;
    font: 12px 'Open Sans', Tahoma, Geneva, sans-serif !important;
}

label {
    font-weight: normal !important;
}

.main-header .sidebar-toggle {
    padding: 20px !important;
}

.jBox-content {
    overflow: visible !important;
}

/*
 Delete modal window to appear above regular modal.
*/
.modal-open .modal {
    z-index: 10001;
}