{% extends '::base.html.twig' %}
{% block bodyId %}faction{% endblock %}

{% block body -%}
    <h1>Faction creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('faction') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
